<table class="table table-sm table-striped">
    <thead>
        <tr><th>Field</th><th>Value</th></tr>
    </thead>
    <tbody>
        <tr><td>Name:</td><td>{{ name }} </td></tr>
        <tr><td>City:</td><td>{{ city }} </td></tr>
        <tr><td>File:</td><td>{{ fileData }} </td></tr>
    </tbody>
</table>
