<form class="row row-cols my-2" method="get">
    <div class="col">
        <input type="hidden" name="pageSize" value="{{pageSize}}">
        <input type="hidden" name="category" value="{{category}}">
        <input class="form-control" name="searchTerm" 
            placeholder="Product Search" value="{{searchTerm}}">
    </div>
    <div class="col-auto">
        <button class="btn btn-small btn-secondary" type="submit">
            Search
        </button>
    </div>
</form>
