<div class="mb-2">
    <label>{{label}}</label>
    <input {{ disabled label }} name="{{ name }}" class="form-control" 
        value="{{ data.value }}" />
    {{> admin/validation_messages data }}
</div>
