<!DOCTYPE html>
<html>
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/font/bootstrap-icons.min.css" rel="stylesheet">
        <script src="/admin/bundle.js" defer></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row bg-info text-white py-2 px-1">
                <div class="col align-baseline pt-1">SPORTS STORE ADMIN</div>
                <div class="col-auto text-end"></div>
            </div>
            <div class="row p-2">
                <div class="col"></div>
                <div class="col-auto">
                    <a class="btn btn-primary" href="/admin/google">
                        <i class="bi bi-google"></i>
                        Sign in with Google Account
                    </a>                  
                </div>  
                <div class="col"></div>
            </div>
        </div>
    </body>
</html>
