<div class="bg-danger text-white  m-1 p-2">
    <div class="h2">Unauthorized</div>
    <div class="h4">
        You do not have permission to perform this operation
    </div>
</div>
<a href="/" class="btn btn-secondary mx-1">Back</a>
